@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif!important;
}

.container{
    background-color: #e4f1f5;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
}
.displayflex{
    display: flex;
}
.spacebetween{
    justify-content: space-between;
}
.fuente-h1{
    font-weight: 400;
    font-size: 30px;
}
.boton{
    background-color: red;
    color: white;
    border-radius: 50px;
    padding: 10px 25px 12px 20px;
    border: 1px solid red;
    cursor: pointer;
    font-size: 14px;
}
.boton:hover{
    background-color: white;
    color: red;
    border-radius: 50px;
    padding: 10px 25px 12px 20px;
    border: 1px solid red;
    cursor: pointer;
    font-size: 14px;
    transition: 0.4s;
}
.fuente-boton{
    font-weight: 600;
}
.margen-izquierdo-15{
    margin-left: 15px;
}
hr{
    border-top: 1px solid lightgrey;
}
.margen-superior-20{
    margin-top: 20px;
}
.margen-superior-10{
    margin-top: 10px;
}
.margen-superior-15{
    margin-top: 15px;
}
.margen-superior-30{
    margin-top: 30px
}
.card{
    background-color: #FEFEFE;
    border: 1px solid gray;
    border-radius: 15px;
    height: 170px;
    padding-left: 10px;
}
.displayflex-columna{
    display: flex;
    flex-direction: column;
}
.ancho-25{
    width: 25%;
}
.imagen-rex{
    max-width: 25%;
}
.imagen-dexter{

}
    

.imagen-center{
    max-width: 25%;
}
.imagen-digital{
   max-width: 70%;
}
.boton-2{
    cursor:pointer
}
.boton-2:hover{
    color:red;
    transition: 0.4s;
}
.color-flecha{
    color:red
}
.margen-flecha{
    margin-left: 5px;
}
footer{
    font-size: 12px;
}
.card-sorpresa{
    background-color: #FEFEFE;
    border: 1px solid gray;
    border-radius: 15px;
    height: 340px;
    padding-left: 10px
}
.porcentaje{
    font-size: 80px;
}